.tm {
	padding: 20px;
	background-color: #eee;
	overflow: hidden;
}

.tm-header {
	float: left;
	width: 200px;
	padding: 20px;
	background-color: #fff;
}

.tm-header figcaption {
	text-align: center;
}
.tm-header img {
	float: left;
	width: 80px;
	height: 80px;
}
.tm-aside {
	float: right;
	width: 120px;
	padding: 20px;
	background-color: #fff;
}


.tm-content {
	margin: 0 140px 0 240px;
}


.tm-aside img {
	width: 80px;
	height: 80px;
}
.tm-aside img:not(:last-child) {
	margin-bottom: 20px;
}