.tm {
	padding: 20px;
	background-color: #eee;
}

.tm-header {
	width: 200px;
	padding: 20px 0 20px 20px;
	background-color: #fff;
}

.tm-header figcaption {
	text-align: center;
}
.tm-header img {
	float: left;
	width: 80px;
	height: 80px;
}
.tm-aside {
	width: 120px;
	padding: 20px;
	background-color: #fff;
}

.tm-content {
	margin: 0 140px 0 240px;
}

.tm-aside img {
	width: 80px;
	height: 80px;
}
.tm-aside img:not(:last-child) {
	margin-bottom: 20px;
}
/*float方法*/
.tm-float {
	overflow: hidden;
}
.tm-float .tm-header {
	float: left;
}

.tm-float .tm-aside {
	float: right;
}

/*absolute方法*/
.tm-absolute {
	position: relative;
	min-height: 460px;
}
.tm-absolute .tm-header {
	position: absolute;
	top: 20px;
	left: 20px;
}

.tm-absolute .tm-aside {
	position: absolute;
	top: 20px;
	right: 20px;
}